<link href="http://getbootstrap.com/examples/sticky-footer/sticky-footer.css" rel="stylesheet">
<footer class="footer" style="opacity:0.8;background-color:#E0E0E0">
  <div class="container">
    <br>
    <p class="text-center" style="font-family:source-han-sans-traditional;font-size:14px;font-weight:200">Powered By <a href="//github.com/eKL016">eKL016</a> and <a href="//www.facebook.com/IMYourAngel/">IM Your Angel 2015</a></p>


  </div>
</footer>
